{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>City game</title>

	<link rel="icon" type="imege/png" href="{% static 'image2/city.png' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css2/file2.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css2/file3.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css2/file.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css2/file4.css' %}">
	
</head>
<body>
	<div class="pix-padding-v-130 ">
		<div class="text-center">
			<h1 class=" pix-no-margin-top pix-small-width-text pix-margin-bottom-20">
				<span class="stroke "><strong>Citys game </strong></span>
			</h1>
		</div>
	</div>
	<div class=" pix-padding ">
		<div class="text-center ">
			<a href="{% url 'game'%}" class="button7">
				<span class="pix_edit_text">
					<strong>Играть</strong>
				</span>
			</a>
		</div>
	</div>
	<div class=" pix-padding ">
		<div class="text-center ">
			<a href="{% url 'rules'%}" class="button7">
				<span class="pix_edit_text">
					<strong>Правила игры</strong>
				</span>
			</a>
		</div>
	</div>
	<div class=" pix-padding ">
		<div class="text-center ">
			<a href="{% url 'about'%}" class="button7">
				<span class="pix_edit_text">
					<strong>О программе</strong>
				</span>
			</a>
		</div>
	</div>
	<div class=" pix-padding ">
		<div class="text-center ">
			<a href="https://citiesgame.tk/" class="button7">
				<span class="pix_edit_text">
					<strong>Выход</strong>
				</span>
			</a>
		</div>
	</div>

</body>
</html>