{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>City game</title>

	<link rel="icon" type="imege/png" href="{% static 'image2\city.png' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css2\file2.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css2\file3.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css2\file.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css2\file4.css' %}">
	
</head>
<body>
	<div class="pix-padding-v-170 ">
		<div class="text-center">
			<h1 class=" pix-no-margin-top pix-small-width-text pix-margin-bottom-20">
				<span class="stroke "><strong>Citys game </strong></span>
			</h1>
		</div>
	</div>
	<div class="pix_section pix-padding-v-40 pix-restaurant-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<div class="pix-content pix-padding-bottom-30">
						<h2 class="pix-white text-center pix-no-margin-top secondary-font">
						</h2>
						<p class="pix-light-gray text-center pix-padding-bottom-20 big-text">
							<span class="pix_edit_text">
								Привет, игра "города" это отличный способ убить время с пользой, активно напрягая все свои участки мозга, дабы припомнить города на "Э". Здесь невозможно одержать победу, но соревнуясь с друзьями вы сможете определить умника вашей компании. Правила достаточно просты и понятны, поэтому каждый желающий сможет проверить свои знания, а также прокачать свою память.<br> 
								1. Начать игру можно с любого существующего города.<br> 
								2. Для продолжения игры необходимо назвать реальный город название которого начинается на букву, которой заканчивалось название предыдущего города.<br>  
								3. Названия городов нельзя использовать повторно.<br> 
								4. Названий городов на твердый “ъ” и мягкий “ъ” знак нет. Из-за этого бы пропускаем эту букву и игрок должен назвать город на букву стоящую перед ъ или ь знаком.<br> 
								5. Если Вы не можете вспомнить город, который необходим для следующего шага - Вы проиграли.<br> 
								P.S Также, команда разработчиков не приветствует подсматривание в посторонние источники, это убивает основную задумку игры, пожалуйста, не делайте этого(◠‿◕). На этом всё. Удачной игры, улучшайте Ваши знания географии и не забывайте советовать нашу игру своим друзьям!
							</span>
						</p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class=" pix-padding ">
		<div class="text-center ">
			<a href="{% url 'home'%}" class="button7">
				<span class="pix_edit_text">
					<strong>Назад</strong>
				</span>
			</a>
		</div>
	</div>



</body>
</html>